.chatbox-home {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  display: flex;
  padding-left: 15px;
}
.chatbox-home p {
  margin: 0px;
}
.chatbox-a-home a:hover {
  color: black !important;
  text-decoration: none !important;
}
.chatbox-a-home {
  margin-right: 5px;
}
.chatbox-a-home a {
  color: black;
  text-decoration: none !important;
}
.des-home-chat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.text-chat-box-home {
  max-width: 160px;
  line-height: 18px;
  padding-top: 1px;
}
.avatar-chat-div-home {
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.avatar-chat-div-home:hover{
  border-radius: 15px !important;
}
.avatar-chat-home {
  height: 40px;
  width: auto;
}
.tooltip-home-chat {
  position: relative;
  display: inline-block;
}

.tooltip-home-chat .tooltiptext-home-chat {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 110%;
}

.tooltip-home-chat .tooltiptext-home-chat::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip-home-chat:hover .tooltiptext-home-chat {
  visibility: visible;
}
