.padding-sly {
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  text-align: center;
}
.site-title{
	font-size: 80px;
	font-family: BeyondTheMountains;
}
@font-face {
	font-family: BeyondTheMountains;
	src: url("../../../fonts/beyond_the_mountains.ttf");

}
.site-title a{
	color: black;
	text-decoration: none !important;
}
.site-title a:hover{
    color: black !important;
}
.site-tiny{
	font-size: 10px;
	margin-top: -10px;
	margin-left: 170px;
	color: #9d9d9d;
}
.fb-login{
	background-color: #4c66a4;
	width: 100%;
	height: 46px;
	border-radius: 4px;
	border: 1px transparent;
	margin-bottom: 25px;
}
#txtUsername, #txtPassword{
	width: 100%;
    margin-bottom: 20px;
    outline: none;
}
#fb_p{
	color: white;
	padding-top: 10px;
}
#login_p{
	color:white;
	padding-top:10px;
	margin-top: 15px;
}
#btnLogin{
	background-color:#111111;
	width: 100%;
	height: 46px;
	border-radius: 4px;
	border: 1px transparent;
	cursor: pointer;
}

.fb:hover{
	background-color: #344a7d;
}
.btnLogin:hover{
	background-color: black;
}
.padding{
	padding-top: 60px;
}
#para{
	color:#555555;
	font-size:18px;
}
#error{
	color: red;
	font-size: 20px;
}
.login-error-message {
	color: red;
	font-size: 20px;
}