.chat_leftside {
  padding-top: 10px;
  padding-bottom: 20px;
  border-right: 0.8px solid #55555538;
}
.avatar-chat-div {
  max-height: 50px;
  max-width: 50px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-chat {
  height: 50px;
  width: auto;
}
.label_search_chatbox {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 100%;
}
.search_chatbox {
  width: 100%;
  height: 30px;
  font-size: 15px;
  border-radius: 50px;
  border: solid 1px #dbdbdb;
  padding-left: 20px;
  background-color: #f6f6f6;
  outline: none;
}
